# Virtual Environment
.venv/
venv/
ENV/

# Python cache and temporary files
__pycache__/
*.py[cod]
*$py.class
*.manifest
*.spec

# OS files
.DS_Store
Thumbs.db

# Editor configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local logs
*.log
